*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img{
  width: 15%;
}
 h1{
  font-family: var(--font-secundaria);
  font-size: 2.2rem;
  text-align: center;
  padding: 15px;
  color: rgb(5, 143, 124);
  margin: 0 auto; 
}

.box-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.158);
  border: 2px solid rgb(5, 143, 124);
  border-radius: 5px;
  width: 60%;
  height: 90vh;
  gap: 5px;
  margin: 20px auto;
}

.input-box-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80px;
  text-align: center;
  background: rgb(101, 173, 173);
  border-radius: 5px;
  padding: 5px;
}

.input-box-form label {
  padding-bottom: 5px;
  font-size: 15px;
  color: rgba(8, 24, 58, 0.904);
}

.box-form .input-box-form .error{
  font-size: 13px;
  color: rgb(252, 0, 0);
  padding-top: 2px;
}

.input-box-form input {
  border: none;
  border-radius: 5px;
  height: 30px;
}

.botonVolver {
  display: inline-block;
  color: rgb(8, 43, 32);
  text-decoration: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 7px;
  text-align: center;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(101, 173, 173);
  transition: all .5s;
}

.botonVolver:hover {
  display: inline-block;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  padding: 7px;
  text-align:center;
  border: none;
  border-radius: 5px;
  background-color: rgb(22, 95, 95);
  color: rgba(29, 223, 158, 0.904);
  transition: all .5s;
}

.botonAgregar{
  display: inline-block;
  color: rgb(8, 43, 32);
  text-decoration: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 7px;
  text-align: center;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(101, 173, 173);
  transition: all .5s;
}

.botonAgregar:hover{
  display: inline-block;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  padding: 7px;
  text-align:center;
  border: none;
  border-radius: 5px;
  background-color: rgb(22, 95, 95);
  color: rgba(29, 223, 158, 0.904);
  transition: all .5s;
}